[alias]
	a = add
	s = status
	d = diff
	co = checkout
	b = branch
	cm = commit -m
	last = log -1 HEAD
	cane = commit --amend --no-edit
	p = push
	pr = pull --rebase
	sr = reset --soft
	lo = log --oneline -n 10
	f = fetch
	rb = rebase
	rbom = rebase origin/master
	rs = reset
